## SQLAlchemy Tutorial

## What is SQLAlchemy?
SQLAlchemy is a Python library that helps you work with databases. It provides:

A Core layer for building raw SQL queries in Python.

An ORM (Object Relational Mapping) layer that lets you interact with database tables as if they were Python objects.

## Key Concepts
Database: A collection of data organized into tables.

Table: Similar to a spreadsheet, it contains rows and columns.

Row: A single record.

Column: A property of the record (e.g., name, age).

Engine: Connects to the database.

Session: Manages communication with the database.

## Key Points About Queries:

Queries are instructions to interact with the database.

In SQLAlchemy, they are abstracted into Python objects and executed through a connection/session.

## Common query types include:
* SELECT (retrieve)
* INSERT (add)
* UPDATE (modify)
* DELETE (remove).

# IMPORTING AND INSPECTING A DATABASE FROM KAGGLE

In [1]:
#Download the database 

import kagglehub
import pandas as pd

# Download latest version
path = kagglehub.dataset_download("groleo/european-football-database")

print("Path to dataset files:", path)

Path to dataset files: /home/santi/.cache/kagglehub/datasets/groleo/european-football-database/versions/4

In [2]:
import sqlalchemy as db

# A database will be created in the current folder and dissapear after we stop executing the code. 
engine = db.create_engine("sqlite:///european_database.sqlite")
conn = engine.connect()

The engine in SQLAlchemy is the core component responsible for connecting your Python application to a database. 
It's like the "bridge" between Python and the actual database to:
* Establish Connection
* Execute Queries
* Manage Resources

In [3]:
# Use the inspector to get the list of tables
inspector = db.inspect(engine)

# Get the names of all tables in the database
table_names = inspector.get_table_names()

# Print the table names
print(table_names)

['divisions', 'matchs']

In [4]:
#metadata is an object that contains all the metadata from the tables
metadata = db.MetaData() #create the object that will be filled with the metadata
division= db.Table('divisions', metadata, autoload_with=engine) #Table object

print(repr(metadata.tables['divisions']))
print(division.columns.keys())

Table('divisions', MetaData(), Column('division', TEXT(), table=<divisions>), Column('name', TEXT(), table=<divisions>), Column('country', TEXT(), table=<divisions>), schema=None)
['division', 'name', 'country']

# Execute Queries

In [5]:
# The queries are executed from the connection
query=division.select() #Make a select query
print(query)
print()

exe = conn.execute(query) #executing the query
# result = exe.fetchmany(15)
result = exe.fetchall()
                       
for r in result:
    print(r)


divisions_df=pd.DataFrame(result)
divisions_df

SELECT divisions.division, divisions.name, divisions.country
FROM divisions

('B1', 'Division 1A', 'Belgium')
('D1', 'Bundesliga', 'Deutschland')
('D2', '2. Bundesliga', 'Deutschland')
('E0', 'Premier League', 'England')
('E1', 'EFL Championship', 'England')
('E2', 'EFL League One', 'England')
('E3', 'EFL League Two', 'England')
('EC', 'National League', 'England')
('F1', 'Ligue 1', 'France')
('F2', 'Ligue 2', 'France')
('G1', 'Superleague', 'Greece')
('I1', 'Seria A', 'Italy')
('I2', 'Seria B', 'Italy')
('N1', 'Eredivisie', 'Netherlands')
('P1', 'Liga NOS', 'Portugal')
('SC0', 'Scottish Premiership', 'Scotland')
('SC1', 'Scottish Championship', 'Scotland')
('SC2', 'Scottish League One', 'Scotland')
('SP1', 'LaLiga', 'Spain')
('SP2', 'LaLiga 2', 'Spain')
('T1', 'Süper Lig', 'Turkey')

   division                   name      country
0        B1            Division 1A      Belgium
1        D1             Bundesliga  Deutschland
2        D2          2. Bundesliga  Deutschland
3        E0         Premier League      England
4        E1       EFL Championship      England
5        E2         EFL League One      England
6        E3         EFL League Two      England
7        EC        National League      England
8        F1                Ligue 1       France
9        F2                Ligue 2       France
10       G1            Superleague       Greece
11       I1                Seria A        Italy
12       I2                Seria B        Italy
13       N1             Eredivisie  Netherlands
14       P1               Liga NOS     Portugal
15      SC0   Scottish Premiership     Scotland
16      SC1  Scottish Championship     Scotland
17      SC2    Scottish League One     Scotland
18      SP1                 LaLiga        Spain
19      SP2               LaLiga 2        Spain
20       T1              Süper Lig       Turkey

In [6]:
#metadata is an object that contains all the metadata from the tables
metadata = db.MetaData() #create the object that will be filled with the metadata
matchs= db.Table('matchs', metadata, autoload_with=engine) #Table object

print(repr(metadata.tables['matchs']))
print(matchs.columns.keys())


query=matchs.select() #Make a select query
print(query)
print()

exe = conn.execute(query) #executing the query
# result = exe.fetchmany(15)
result = exe.fetchall()
                       
matchs_table_df=pd.DataFrame(result)
matchs_table_df

Table('matchs', MetaData(), Column('Div', TEXT(), table=<matchs>), Column('Date', DATE(), table=<matchs>), Column('HomeTeam', TEXT(), table=<matchs>), Column('AwayTeam', TEXT(), table=<matchs>), Column('FTHG', REAL(), table=<matchs>), Column('FTAG', REAL(), table=<matchs>), Column('FTR', TEXT(), table=<matchs>), Column('season', INTEGER(), table=<matchs>), schema=None)
['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'season']
SELECT matchs."Div", matchs."Date", matchs."HomeTeam", matchs."AwayTeam", matchs."FTHG", matchs."FTAG", matchs."FTR", matchs.season
FROM matchs

       Div        Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  season
0       B1  2020-08-08     Club Brugge       Charleroi   0.0   1.0   A    2021
1       B1  2020-08-08         Antwerp        Mouscron   1.0   1.0   D    2021
2       B1  2020-08-08        Standard   Cercle Brugge   1.0   0.0   H    2021
3       B1  2020-08-09      St Truiden            Gent   2.0   1.0   H    2021
4       B1  2020-08-09         Waregem            Genk   1.0   2.0   A    2021
...     ..         ...             ...             ...   ...   ...  ..     ...
123399  T1  2006-05-14     Galatasaray     Kayserispor   3.0   0.0   H    2006
123400  T1  2006-05-14   Gaziantepspor     Malatyaspor   1.0   0.0   H    2006
123401  T1  2006-05-14  Genclerbirligi        Rizespor   1.0   3.0   A    2006
123402  T1  2006-05-14      Samsunspor  Diyarbakirspor   1.0   0.0   H    2006
123403  T1  2006-05-14     Trabzonspor        Besiktas   1.0   2.0   A    2006

[123404 rows x 8 columns]

# Data analytics with SQLAlchemy

## Connecting two tables

We will connect the matches to the divisions using the div present in both tables

In [7]:
# We will select both division and match columns.

query=(db.select(division,matchs)
       
    # Join them using a common column: division.division and matchs.Div.
    .select_from(division.join(matchs , division.c.division == matchs.c.Div))

    # Select all columns where the division is E1 and the season is 2009.
    .where(db.and_(division.columns.division =="E1", matchs.c.season == 2009))

    # Order the result by HomeTeam.
    .order_by(matchs.columns.HomeTeam)
    )

output= conn.execute(query)
results=output.fetchall()
data=pd.DataFrame(results)
data

#Each element that had the value E1 in key Div now has assigned also the name and country of the division

,division,name,country,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,season
0,E1,EFL Championship,England,E1,2008-08-16,Barnsley,Coventry,1.0,2.0,A,2009
1,E1,EFL Championship,England,E1,2008-08-30,Barnsley,Derby,2.0,0.0,H,2009
2,E1,EFL Championship,England,E1,2008-09-16,Barnsley,Cardiff,0.0,1.0,A,2009
3,E1,EFL Championship,England,E1,2008-09-27,Barnsley,Norwich,0.0,0.0,D,2009
4,E1,EFL Championship,England,E1,2008-10-04,Barnsley,Doncaster,4.0,1.0,H,2009
...,...,...,...,...,...,...,...,...,...,...,...
547,E1,EFL Championship,England,E1,2009-03-10,Wolves,Ipswich,0.0,0.0,D,2009
548,E1,EFL Championship,England,E1,2009-03-14,Wolves,Charlton,2.0,1.0,H,2009
549,E1,EFL Championship,England,E1,2009-04-10,Wolves,Southampton,3.0,0.0,H,2009
550,E1,EFL Championship,England,E1,2009-04-18,Wolves,QPR,1.0,0.0,H,2009
551,E1,EFL Championship,England,E1,2009-05-03,Wolves,Doncaster,1.0,0.0,H,2009

# Creating Tables

In [8]:
engine = db.create_engine('sqlite:///datacamp.sqlite')
conn = engine.connect()
metadata = db.MetaData()

# Metadata= name, type, default, you use it to create tables with no data yet added

Student = db.Table('Student', metadata,
                   db.Column('Id',db.Integer(), primary_key=True), #Primary key indicates that it is the one that numbers the rows
                   db.Column('Name', db.String(255), nullable=False),
                   db.Column('Major', db.String(255), default='Math'),
                   db.Column('Pass', db.Boolean(), default =True)
                   )
metadata.create_all(engine)

In [9]:
inspector = db.inspect(engine)
table_names = inspector.get_table_names()
print(table_names)
print(repr(metadata.tables['Student']))
print(Student.columns.keys())

['Student']
Table('Student', MetaData(), Column('Id', Integer(), table=<Student>, primary_key=True, nullable=False), Column('Name', String(length=255), table=<Student>, nullable=False), Column('Major', String(length=255), table=<Student>, default=ScalarElementColumnDefault('Math')), Column('Pass', Boolean(), table=<Student>, default=ScalarElementColumnDefault(True)), schema=None)
['Id', 'Name', 'Major', 'Pass']

In [10]:
query = db.insert(Student).values(Id=1,Name='Pepe',Major="French")
result=conn.execute(query)

output=conn.execute(Student.select()).fetchall()
print(output)

[(1, 'Pepe', 'French', True)]

In [11]:
query=db.insert(Student) # The insert query expects me to give a list with the elements I want to submit, as a dictionary
values_list = [ {'Id':4,"Name":"Ana","Major":"Spanish","Pass":True},
                {'Id':5,"Name":"Luis","Major":"portuguese","Pass":False},
               ]
Result= conn.execute(query,values_list)

In [12]:
output=conn.execute(Student.select()).fetchall() #select is a method from the table Student object
print(output)

[(1, 'Pepe', 'French', True), (4, 'Ana', 'Spanish', True), (5, 'Luis', 'portuguese', False)]

In [13]:
query = db.delete(Student).where(Student.c.Id==1) # c=columns
Result=conn.execute(query)

query = db.delete(Student).where(Student.c.Name=="Luis")
Result=conn.execute(query)

output=conn.execute(Student.select()).fetchall()
print(output)

[(4, 'Ana', 'Spanish', True)]

In [14]:
query = db.insert(Student).values(Id=1,Name='Pepe',Major="French")
Result=conn.execute(query)

query = db.insert(Student).values(Id=5,Name='Luis',Major="Spanish")
Result=conn.execute(query)

output=conn.execute(Student.select()).fetchall()
print(output)

[(1, 'Pepe', 'French', True), (4, 'Ana', 'Spanish', True), (5, 'Luis', 'Spanish', True)]

In [15]:
#Select only the tudents whose major is spanish and failed

query = Student.select().where(db.and_(Student.columns.Major=="Spanish",Student.c.Pass!=False))
output = conn.execute(query)
print(output.fetchall())

[(4, 'Ana', 'Spanish', True), (5, 'Luis', 'Spanish', True)]

In [16]:
query = Student.select().where(Student.c.Major.in_(['French','Spanish']))
output = conn.execute(query)
results = output.fetchall()
print(results)

[(1, 'Pepe', 'French', True), (4, 'Ana', 'Spanish', True), (5, 'Luis', 'Spanish', True)]